*{
	margin: 0px;
	padding:0px;
}
.mau{
	width: 360px;
	height: 454px;
}
.mau .minhhoa {
	width: 360px;
	height: 202px;
	position: relative;
}
.mau .minhhoa img{
	width: 360px;
	height: 202px;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
}
.mau .minhhoa a.dan{
	display: inline-block;
	padding-top: -220px;
	padding-left: 5px;
	background-color: rgb(3, 169, 244);
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	text-decoration: none;
	font-family: 'Lobster', cursive;
	font-size: 12px;
}
.mau .minhhoa .nen{
	position: absolute;
	z-index: 2;
	bottom: -10px;
	left: 10px;
	width: 20px;
	height: 20px;
	background-color: white;
	transform: rotate(45deg);
	border-radius: 5px;
}
.mau .tieude  a.tieudechinh{
	display: block;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin-top: 40px;
	margin-bottom: 15px;
	margin-left: 5px;
}
.mau .bosung{
	position: relative;
}
.mau .tieude .bosung b{
	font-size: 40px;
	display: block;
	position: relative;
	right: 0px;
	transition:1s;
	background-color: blue;
}

